<h2>Игра окончена</h2>
<% if @network.local_bankrupt %>
  <img src="/static/img/lost.png"></img>&nbsp;К сожалению Вы проиграли
<% else %>
  <img src="/static/img/win.png"></img>&nbsp;Поздравляю, вы выиграли
<% end %>