<h1>Соединиться с сервером</h1>
<form action="/connect" method="get" accept-charset="utf-8">
  Адрес: <input type="text" name="address" value="" id="address"/>
  <p><input type="submit" value="Continue &rarr;"/></p>
</form>