<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Monopoly</title>

  <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if IE]>
    <link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen"> 
  <link rel="stylesheet" href="/static/css/jquery.tooltip.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
  
  <script src="/static/js/jquery-1-1.2.6.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/jquery.dimensions.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/jquery.tooltip.js" type="text/javascript" charset="utf-8"></script>
  
  <script src="/static/js/game.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

  <div class="container">
    <div classs="span-24">
      <h1>Монополия</h1>
<script src="../static/js/game.js" type="text/javascript" charset="utf-8"></script>
      <hr />
    </div>
    <%= content %>
  </div>
</body>
</html>